[Unit]
Description=Python Task Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /root/rpi-ping/main.py
Restart=always
RestartSec=2
PrivateTmp=true

[Install]
WantedBy=multi-user.target